@import "tailwindcss";

:root {
  --background: #132916;
  --foreground: #e2e9e1;
  --foreground2: #b4bfb3;
}

body {
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', monospace;
}

h1, h2, h3, p, a {
  font-family: monospace;
  color: var(--foreground);
}

.glitch { 
    animation: textflicker 0.01s infinite alternate-reverse;
  }

.hover-glitch:hover { 
    animation: textflicker 0.01s infinite alternate-reverse;
  }

@keyframes textflicker {
    from {
      text-shadow: 0.5px 0 0 #36ea75, -2px 0 0 #ff15f3;
    }
    to {
      text-shadow: 2.2px 0.5px 1px #36ea4e, -1px -0.5px 2px #ff0bbe;
    }
  }

/* Based on @OuterVale codepen */

.crt {
	box-shadow: inset 0 0 300px rgba(0, 0, 0, 0.9);
	filter: blur(0.55px) hue-rotate(30deg);

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0.25) 50%
		);
		background-size: 100% 4px;
		animation: scanlines 0.1s linear infinite;
		z-index: 50;
		pointer-events: none;
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background: rgba(18, 16, 16, 0.1);
		animation: flicker 0.15s infinite;
		pointer-events: none;
	}
}

@keyframes scanlines {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 4px;
	}
}

@keyframes flicker {
	0% {
		opacity: 0.27861;
	}
	5% {
		opacity: 0.34769;
	}
	10% {
		opacity: 0.23604;
	}
	15% {
		opacity: 0.90626;
	}
	20% {
		opacity: 0.18128;
	}
	25% {
		opacity: 0.83891;
	}
	30% {
		opacity: 0.65583;
	}
	35% {
		opacity: 0.67807;
	}
	40% {
		opacity: 0.26559;
	}
	45% {
		opacity: 0.84693;
	}
	50% {
		opacity: 0.96019;
	}
	55% {
		opacity: 0.08594;
	}
	60% {
		opacity: 0.20313;
	}
	65% {
		opacity: 0.71988;
	}
	70% {
		opacity: 0.53455;
	}
	75% {
		opacity: 0.37288;
	}
	80% {
		opacity: 0.71428;
	}
	85% {
		opacity: 0.70419;
	}
	90% {
		opacity: 0.7003;
	}
	95% {
		opacity: 0.36108;
	}
	100% {
		opacity: 0.24387;
	}
}

@keyframes distort {
	0%,
	100% {
		filter: brightness(1);
	}
	50% {
		filter: brightness(1.02);
	}
}