@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #e2e9e1;
  --foreground2: #b6c9c7;
  --gif-background: url(https://64.media.tumblr.com/da60c13b478dda09ab90c27e880983b8/tumblr_nd4pwdPKdc1tun3l0o1_1280.gifv);
}

body {
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', monospace;
}

h1, h2, h3 {
  font-family: monospace;
  color: var(--foreground);
}

p, a {
  font-family: monospace;
  color: var(--foreground2);
}

.pb-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.pb-container::before {
  content: "";
  position: absolute;
  background-image: var(--gif-background);
  top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
  opacity: 0.4;
  z-index: 0;
}

.pb-content {
  position: relative;
}
