@use "sass:math";
@mixin glitchCopy {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .skewan{
    animation: glitch-skew 0.5s infinite linear alternate-reverse;
  }
  
  .glitch {
      color: var(--foreground);
    position: relative;
    animation: glitch-skew 0.8s infinite linear alternate-reverse;
  }
  
  .glitch::before{
    @include glitchCopy;
    left: 1px;
    text-shadow: -2px 0 rgb(250, 101, 213);
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  
  .glitch::after{
    @include glitchCopy;
    left: -1px;
    text-shadow: -2px 0 rgb(21, 250, 250), 2px 2px rgb(250, 101, 213);
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
  
  @keyframes glitch-anim {
    $steps: 20;
    @for $i from 0 to $steps {
      #{math.percentage($i*calc(1/$steps))} {
        clip: rect(math.random(100) + px, 9999px, math.random(100) + px, 0);
        transform: skew((calc(math.random(100) / 100)) + deg);
      }
    }
  }
  
  @keyframes glitch-anim2 {
    $steps: 20;
    @for $i from 0 to $steps {
      #{math.percentage($i*calc(1/$steps))} {
        clip: rect(math.random(100) + px, 9999px, math.random(100) + px, 0);
        transform: skew(calc((math.random(100) / 100)) + deg);
      }
    }
  }
  
  @keyframes glitch-skew {
    $steps: 10;
    @for $i from 0 to $steps {
      #{math.percentage($i*calc(1/$steps))} {
        transform: skew((math.random(10) - 5) + deg);
      }
    }
  }