@use "sass:math";

  .skewan{
    animation: skew 1s infinite linear alternate;
  }

  @keyframes skew {
    $steps: 80;
    @for $i from 0 to $steps {
      #{math.percentage($i*calc(1/$steps))} {
        transform: skew((math.random(9) - 4) + deg);
      }
    }
  }

  .skewanimg{
    animation: skew2 0.2s infinite linear alternate;
  }

  @keyframes skew2 {
    $steps: 10;
    @for $i from 0 to $steps {
      #{math.percentage($i*calc(1/$steps))} {
        transform: skew((math.random(2) - 1) + deg);
      }
    }
  }

  .flick:hover{
    animation: textflicker 0.01s infinite alternate-reverse;
  }

  .vhs { 
    animation: textflicker 0.01s infinite alternate-reverse;
  }
  
  @keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
  }